{% extends "base.html" %}
{% load bootstrap_pagination %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="d-flex justify-content-between">
        <h1 class="title">Posts</h1>
        <form method="get" class="d-flex align-items-end">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn ml-2" style="height: max-content; margin-bottom: 1rem">Buscar</button>
        </form>
    </div>
    <div class="row">
        {% for post in posts %}
            <div class="col-12 col-lg-4 mb-3">
                <div class="card" data-clickable="true" data-href="{% url 'blog:visualizar_post' post.pk %}">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.titulo }}</h5>
                        <p class="card-text txt-date-card">{{ post.criado_em|date:"d/m/Y H:i" }}</p>
                        <p class="card-text txt-truncate">{{ post.conteudo }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav class="d-flex justify-content-center" aria-label="Page navigation">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% bootstrap_paginate posts range=5 show_prev_next="true" show_first_last="true" %}
                </ul>
            </nav>
    </nav>

{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(() => {
            $(document.body).on('click', '.card[data-clickable=true]', (e) => {
              window.location = $(e.currentTarget).data('href');
            });
        });
    </script>
{% endblock %}